<div ng-controller='topicController'>
	<div class="row">
		<div ng-cloak class="row col-sm-12">
			<h3><a ng-click='viewUser(board.author.id)' ng-bind='board.author.name'></a> posted a topic:</h3>
		</div>
		<div  class="row col-sm-11 col-sm-offset-1">
			<h4>{{board.topic}}</h4>
			<h5>{{board.description}}</h5>
		</div>
		<div class="row col-sm-12" style='margin-top: 35px;'>
			<h4>Post your answer here...</h4>
			<form class='row col-sm-10 col-sm-offset-1'>
				<textarea class='form-control' rows="4" style='resize: none; margin-bottom: 10px;' ng-model='new_post'></textarea>
				<input ng-click='newPost(new_post)' class='btn btn-success pull-right' value="Post">
			</form>
		</div>
		<div class='row col-sm-10 col-sm-offset-1'>
			<div ng-repeat='post in board.posts'>
				<hr>
				<h5><a ng-click='viewUser(post.author.id)' ng-bind='post.author.name'></a>: {{post.content}}</h5>
				<p ng-bind='post.contents'></p>
				<div class='row col-sm-11 col-sm-offset-1'>
					<div ng-repeat='comment in post.comments'>
						<h5><a ng-cloak ng-click='viewUser(comment.author.id)' ng-bind='comment.author.name'></a>: {{comment.content}}</h5>
					</div>
					<form>
						<textarea class='form-control' rows="2" style='resize: none; margin-bottom: 10px;' ng-model='new_comment'></textarea>
						<input ng-click='newComment(post, new_comment)' class='btn btn-success pull-right' value="Comment">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
